.homeImgBackground {
  background-image: url(../../img/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
  position: relative;
  top: 0;
  z-index: -1;
}

.hero {
  padding-top: 5rem;
  text-align: start;
  color: white;
  font-family: "STIX Two Text", serif;
}
nav {
  background-color: black;
  position: fixed;
}
.cardCategory {
  text-align: start;
}

.cardCategory img {
  /* padding-left: 1rem;
  padding-right: 1rem;
  width: 75%;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.linkDecoration,
.linkDecoration:visited,
.linkDecoration:active {
  text-decoration: none;
  color: black;
}
.linkDecoration:hover {
  text-decoration: none;
  color: #3a3a3a;
}

@media screen and (max-width: 600px) {
  .cardCategory img {
    width: 80%;
  }
  .cardCategory h3 {
    text-align: center;
  }
}
