.homeImgBackground {
  background-image: url(../../img/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
  position: relative;
  top: 0;
  z-index: -1;
}

.hero {
  padding-top: 5rem;
  text-align: start;
  color: white;
  font-family: "STIX Two Text", serif;
}
nav {
  background-color: black;
  position: fixed;
}
.cardCategory {
  text-align: start;
}
.linkDecoration {
  text-decoration: none;
  color: black;
}
