footer {
  background-color: black;
}

footer a,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #9b9b9b;
  font-size: 0.8rem;
}

footer a:hover {
  color: lightgrey;
}

@media screen and (max-width: 600px) {
  footer {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /* .decoList li {
    text-align: left;
  } */
}
