.hero {
  padding-top: 10rem;
  text-align: start;
  color: white;
  /* font-family: "STIX Two Text", serif; */
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
}
.hero p {
  width: 66%;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.homeImgBackground {
  background-image: linear-gradient(
      -45deg,
      rgba(130, 130, 130, 0.1516981792717087) 0%,
      rgba(0, 0, 0, 0.85) 100%
    ),
    url(../img/home.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
  position: relative;
  top: 0;
  z-index: -1;
}

@media screen and (max-width: 600px) {
  .hero {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .hero p {
    width: 75%;
    font-size: 1rem;
  }
}
