body {
  font-family: Arial, Helvetica, sans-serif;
}

.bg-nav-expedia {
  background-color: #ffff00;
}

.bg-img-expedia {
  background-image: url("../img/playa.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
  padding-top: 100px;
}

.button {
  background-color: #ffff00;
  border: none;
  width: 100%;
}
.button-search {
  background-color: #ffff00;
  border: none;
}

.button:hover {
  background-color: #ffd600;
  width: 100%;
}

.footer-expedia {
  background-color: #353535;
  height: 50px;
  color: white;
  text-align: center;
  padding-top: 10px;
  margin-top: 25px;
}

#search-bar {
  background-color: #353535;
  opacity: 0.8;
  height: 160px;
  color: white;
  margin: auto;
  border-radius: 5px;
  padding: 40px;
}

.input-color-expedia {
  background-color: #ffff00;
}

.input-color-expedia:hover {
  background-color: #ffd600;
}
