.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#autovip-header {
  border-bottom: 5px solid orange;
}

.bg-image-autovip {
  background-image: url(/img/audi_1.jpg);
  background-size: cover;
  background-position: center center;
  height: 600px;
  border-bottom: 5px solid orange;
}

#carSlider {
  border-bottom: 5px solid orange;
}
.carousel-item img {
  object-fit: cover;
  height: 600px;
  width: 100%;
}

#welcome {
  padding: 20px 10px;
  border-bottom: 1px solid lightgray;
  border-width: 80%;
}

h4 {
  font-size: 1rem;
  margin-bottom: 5px;
  margin-top: 5px;
}

#footer {
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 5px solid orange;
  margin-top: 60px;
}

#footer ul {
  list-style: none;
  color: #eeeeee;
}

#footer ul a {
  color: #eeeeee;
  line-height: 2rem;
  text-decoration: none;
}
#footer-logo {
  height: 20px;
}

#filter-section {
  background-color: #f0efef;
  border-radius: 2px;
  padding: 15px;
}

#filters h3 {
  font-size: 1rem;
}

.btn-autovip {
  background-color: orange;
  color: white;
}

.each-car span {
  background-color: orange;
  position: absolute;
  width: auto;
  top: 15px;
  left: 28px;
}

@media (max-width: 767px) {
  .carousel-item img {
    object-fit: cover;
    height: 250px;
    width: 100%;
  }

  h1 {
    font-size: 1.6rem;
  }

  #welcome {
    padding: 10px 10px;
  }
}
